<header class="site-header">
  <div class="container header-row">
    <div class="brand">
      <a class="brand-name">Sa3i Productivity</a>
    </div>

    <!-- Angular Material Tab Nav Bar -->
    <!-- <nav mat-tab-nav-bar>
      @for (link of links; track link) {
        <a
          mat-tab-link
          [routerLink]="link.path"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ link.label }}
        </a>
      }
    </nav> -->
      <div class="profile">
   @if (isLoggedIn) {
        
        <a
        [routerLink]='profile'
        >
          <img
        [src]="'http://localhost:3000/uploads/' + photo"
        alt="{{ name }}"
        class="profile-photo"
        />
        </a>
   
    } @else {
        <button mat-flat-button [routerLink]='login' >Login</button>
        <button mat-button [routerLink]='signUp' >Sign up</button>
    }
  </div>
    
    
  </div>
</header>
