/* Page Title */
.header-row {
  display: flex;
  align-items: center; /* vertically center */
  justify-content: space-between; /* pushes button to the right */
  margin-bottom: 0.75rem;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center; /* align vertically */
  gap: 1rem; /* space between h2 and button */
  margin-bottom: 5px;
  margin-left: 16px;
  margin-right: 16px;
  color: #333;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  padding-top: 0.25rem;
  font-family: 'Instrument Sans', sans-serif;
  min-width: 600px;
}
.title button {
  font-size: 0.85rem;
}

.title-button {
  padding-left: 5rem;
}
.chips {
  display: flex;
  gap: 5px;
}
.title h2 {
  margin: 0; /* remove default margin for cleaner alignment */
}
.title-wrap {
  justify-content: center;
  width: 100%;
}
/* Grid layout for tasks */
.task-grid {
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 12px; /* space between items */
  padding: 1rem;
  
}

/* Task card */
.task-card {
  min-width: 600px;
  margin: 0 auto;
  padding: 10px;
  padding-left:12px;
  flex-direction: row;
  display:flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #ffffff;
  font-family: 'Instrument Sans', sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect */
.task-card:hover {
  transform: translateY(-3px);
}

.task-card:hover .btn-group {
  opacity: 1;
}

/* Task info */
.task-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  display: flex;
  align-items: center;
}

mat-checkbox {
  margin-left: -10px;
}

.task-info .status {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.task-info p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  color: #555;
}

/* Priority colors */
.task-info span {
  font-weight: bold;
}

.task-info span.status {
  font-weight: bold;
  color: #005cbb;
}

.task-info span.completed {
  color: #28a745;
}

.task-info span.pending {
  color: #d9534f;
}

/* Buttons */
.update-btn {

}
.delete-btn {
  
}
/* Group action buttons */
.btn-group {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn-group button {
}

mat-chip {
  max-height: 24px;
  color: red;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #fdfeff;
  color: red
}